/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  color: #FFFFFF;
  background-color: #FF1313;
}

.success {
  color: #FFFFFF;
  background-color: #27AE60;
}

.warning {
  color: #FFFFFF;
  background-color: #F2994A;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 20px;
}
