.paddy-field-wrapper {
  padding: 15px;
  .search-panel {}
  .add-paddy-field {
    padding: 10px;
    background: #424242;
    border-radius: 10px;

    .btn-row {
      margin-bottom: 10px;
      .save-btn {
        margin-left: auto;
      }
    }
  }
  .paddy-field-list {
    padding: 10px;
    background: #424242;
    border-radius: 10px;
    .data-table {
      width: 100%;
    }
  }
}
